<!DOCTYPE html>
<html lang="en">

<head>

  <% include partials/meta.html %>

  <title><%= title %></title>

  <% include partials/link.html %>


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <% include partials/sidebar.html %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include partials/topbar.html %>

        <!-- Dashboard -->
        <% include partials/devices.html %>
        

      </div>
      <!-- End of Main Content -->

      <% include partials/footer.html %>

    </div>
    <!-- End of Content Wrapper -->



  </div>
  <!-- End of Page Wrapper -->

  <% include partials/foot.html %>

</body>

</html>