<!DOCTYPE html>
<html lang="en">

<head>

  <% include partials/meta.html %>

  <title><%= title %></title>

  <% include partials/link.html %>

  <style>
    body {
      margin: 0;
      padding-bottom: 3rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    #data {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #data>li {
      padding: 0.5rem 1rem;
    }

    #data>li:nth-child(odd) {
      background: #efefef;
    }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <% include partials/sidebar.html %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include partials/topbar.html %>

        <!-- Dashboard -->
        <% include partials/index.html %>


      </div>
      <!-- End of Main Content -->

      <% include partials/footer.html %>

    </div>
    <!-- End of Content Wrapper -->



  </div>
  <!-- End of Page Wrapper -->

  <% include partials/foot.html %>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- <script>
    const socket = io();
    var messages = document.getElementById('data');

    socket.on('xbee:data', function (dataSerial) {
      var item = document.createElement('li');
      var dataSerialArray = dataSerial.value.split(" ");
      item.textContent = dataSerialArray;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    });

  </script> -->

</body>

</html>