<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">
        Dashboard
    </h1>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    Send Frame
                </h6>
                <div class="dropdown no-arrow">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400">
                        </i>
                    </a>
                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right shadow animated--fade-in">
                        <div class="dropdown-header">
                            Dropdown Header:
                        </div>
                        <a class="dropdown-item" href="#">
                            Action
                        </a>
                        <a class="dropdown-item" href="#">
                            Another action
                        </a>
                        <div class="dropdown-divider">
                        </div>
                        <a class="dropdown-item" href="#">
                            Something else here
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Write
                                </th>
                                <th>
                                    Read
                                </th>
                                <th>
                                    Unit
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Write
                                </th>
                                <th>
                                    Read
                                </th>
                                <th>
                                    Unit
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td class="text-monospace ">
                                    0C03
                                </td>
                                <td>
                                    BYTE DE SETEO
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-9">
                                            <input aria-describedby="" class="form-control text-monospace" id="" placeholder="80 00 80 00" type="text">
                                            </input>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-success btn-circle" href="#">
                                                <i class="fas fa-check">
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input aria-describedby="" class="form-control text-monospace" id="" placeholder="" type="text"/ readonly>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-monospace ">
                                    0DD8
                                </td>
                                <td>
                                    RELOJ DE TIEMPO REAL
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-9">
                                            <input aria-describedby="" class="form-control text-monospace" id="" placeholder="HH MM SS DD MM AA" type="text">
                                            </input>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-success btn-circle" href="#">
                                                <i class="fas fa-check">
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input aria-describedby="" class="form-control" id="" placeholder="" type="text"/ readonly>
                                </td>
                                <td>
                                    HH MM SS DD MM AA
                                </td>
                            </tr>
                            <tr>
                                <td class="text-monospace ">
                                    0CEB
                                </td>
                                <td>
                                    GRAMOS POR CICLO
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-9">
                                            <input aria-describedby="" class="form-control" id="" placeholder="150 grs." type="text">
                                            </input>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-success btn-circle" href="#">
                                                <i class="fas fa-check">
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input aria-describedby="" class="form-control" id="" placeholder="" type="text"/ readonly>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.container-fluid -->
