<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Devices</h1>
    <div class="container"></div>


    <div class="container">
        <div class="row">
            <!-- form devices -->
            <div class="col-5">
                <h2>Add Devices</h2>
                <form method="POST" action="/devices">
                    <div class="form-group">
                        <label for="nameDevices">Device Name</label>
                        <input type="text" class="form-control" name="nameDevices" id="nameDevices"
                            placeholder="Name Devices" autofocus required>
                    </div>
                    <!-- <input type="submit" value="Save" class="btn btn-primary"> -->
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                </form>
            </div>

            <div class="col-1">

            </div>
            <!-- table devices -->
            <div class="col-6">
                <h2>Edit Devices</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Devices</th>
                            <th>Conf</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (devices) { %>
                        <% for(var i = 0; i < devices.length; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= devices[i].nameDevices %></td>
                            <td>
                                <a href="/deleteDevices/<%= devices[i].id %>" class="">
                                    <span style="font-size: 20px; color: rgba(221, 38, 38, 0.849);">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->