<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <i class="fas fa-chart-bar"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Admin</div>
  </a>



  <!-- Nav Item - Tables -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Home</span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="./devices">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Devices</span></a>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVars" aria-expanded="true"
      aria-controls="collapseVars">
      <i class="fas fa-fw fa-cog"></i>
      <span>Vars</span>
    </a>
    <div id="collapseVars" class="collapse" aria-labelledby="headingVars" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <% if (devices) { %>
        <% for(var i = 0; i < devices.length; i++) { %>
        <a class="collapse-item" href="#"><%= devices[i].nameDevices %></a>
        <% } %>
        <% } %>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTest" aria-expanded="true"
      aria-controls="collapseTest">
      <i class="fas fa-fw fa-cog"></i>
      <span>Test</span>
    </a>
    <div id="collapseTest" class="collapse" aria-labelledby="headingTest" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <% if (devices) { %>
        <% for(var i = 0; i < devices.length; i++) { %>
        <a class="collapse-item" href="#"><%= devices[i].nameDevices %></a>
        <% } %>
        <% } %>
      </div>
    </div>
  </li>


  <li class="nav-item active">
    <a class="nav-link" href="./commandat">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Command AT</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="./utilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Utilities</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">


  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->